<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>Всё для уюта: о нас</title>
</head>

<body>

    <!--Begin header -->
    {{> header}}
    <!--END header -->
    <!-- Begin Content -->
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p style="text-align: center; font-family:Newfront">О НАС</p>
                    <p style="text-align: center;">
                        <span> Магазин помогает приобрести сувениры, постельное белье,
                            подарки и разные домашнии декорации который помогут вам устроить в
                            доме уют для вас и семьи.</span>
                        Мы находится по адресу:
                        с. Усть-Цильма, ул. Новый квартал, 24Б. ТЦ «КВАРТАЛ» 2 этаж. Режим работы магазина:
                        пн. – пт.: 10:00 – 18:00
                        сб.: 11:00 – 15.00
                        вс.: Выходной
                    </p>
                    <iframe src="https://yandex.ru/map-widget/v1/-/CCFxeVpD" width="100%" height="400" frameborder="1"
                        allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <!--END content -->
    <!--FOOTER -->
    {{> footer}}
    <!--END FOOTER -->
    {{> scripts}}
</body>

</html>
