<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <span> welcome to console admin pls enter login & password </span>
    <form action="/authorization" method="POST">
        Логин:<input type="text" id="login" name="login">
        <br>
        Пароль:<input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Вход">
    </form>
</body>
</html>