<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>Всё для уюта: доставка</title>
</head>
<body style="position:relative">
   <!--Begin header -->
{{> header}}
    <hr>
    <!--END header -->
    <!-- Begin Content -->
    <section class="main-content ">
    <div class="container " >
    <div class="row flex-xl-nowrap " >
        <div class="col">
            <div class="deliveryword">
                <img src="/images/del.png" width="50px" height="50px"> <span style="font-family:Newfront"> ДОСТАВКА</span>
            </div>
            <div class = "infodelivery deliverybox">
                <p>Когда заказ будет передан в курьерскую компанию, вам поступит SMS с ориентировочной датой доставки.
                </p>
                <p>
                    Доставка возможна только по будням с 9 до 18 часов. В день доставки с вами свяжется курьер.
                </p>
                <p>
                    <b>ВНИМАНИЕ!</b>  Вы можете встретить представителя курьерской службы только внутри помещения по адресу, согласованному с вами. <br> Время ожидания курьером – не более 20 минут.
                </p>
                <p>
                    Вы можете либо принять и оплатить весь заказ полностью, либо отказаться от него.
                    Возврат товара в розничный магазин возможен только через 8 рабочих дней после покупки.
                </p>
            </div>
        </div>
    </div>
        
    </div>
    </section>
{{> footer}}
    <!--END content -->
    <!--FOOTER -->
    
    <!--END FOOTER -->
{{> scripts}}
</body>
</html> 