<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>Всё для уюта: главная, информация</title>
    <script>
        function mobile(){
                let img = document.getElementById("Main")
                img.src="images/7mobile.png"
            }
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            mobile();
        } else {
            ;
        }
    </script>
</head>

<body>
    <!--Begin header -->
    {{> header}}
    <!--END header -->
    <!-- Begin Content -->
    <section class="main-content">
            <img id="Main" src="/images/7.png" width="100%" >
    </section>
    <!--END content -->
    <!--FOOTER -->
    {{> footer}}
    <!--END FOOTER -->
    {{> scripts}}
    
</body>
</html>