<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>Всё для уюта: выбор категории</title>
</head>
<body>
    
   <!--Begin header -->
{{> header}}
<!--END header -->
<!-- Begin Content -->
    <section class="main-content">
    <div class="container-fluid">
        <div class="row bd-sidebar">
            <!--NAV-->
            <div class="col-12 col-md-4 col-xl-2 navbar-expand-lg">
                <div style="padding:10px 0;">
                    <span>Выберите категорию</span> 
                </div>
                <div class="border-top">
                    <div class="bd-toc-item">
                        <ul style="display: inline" class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="/product/toys">Игрушки</a>
                            </li>
                            <li class="nav-item">
                                <a href="/product/textile">Текстиль</a>
                            </li >
                            <li class="nav-item">
                                <a href="/product/interior">Интерьер</a>
                            </li>
                            <li class="nav-item">
                                <a href="/product/fun">Всё для праздника</a>
                            </li>
                            <li class="nav-item">
                                <a href="/product/clothes">Домашняя одежда и обувь</a>
                            </li>
                        </ul>
                    </div>
                    </nav>
                </div>
            </div>
            <!--end NAV-->
        </main>
        </div>
    </div>
    </section>
    <!--END content -->
    <!--FOOTER -->
{{> footer}}
    <!--END FOOTER -->
{{> scripts}}
</body>
</html> 